.footer{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-top: .3px solid #888;
    height: 60vh;
}
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 15px;
    background-color: #eeeeee;
    height: 100%;
    margin-top: 30px;
}

.footer__div{
    display: flex;
    flex-direction: column;
}

.footer__div > h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer__div > a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}

.footer__div a:hover{
    text-decoration: underline;
    transition: .4s all ease-in-out;
}

.footer__bottom{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    background-color: #eeeeee;
    border-top: .5px solid #888;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__bottom > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    margin-top: 10px;

}

.footer__bottom div >a{
    text-decoration: underline;
    color: #333;
    font-size: 15px;
}

.footer__bottom div >p{
    font-weight: 300;
    font-size: 14px;
}

.footer__icon__container{
    min-width: 30%;
    display: flex;
    justify-content: space-between;
}

.footer__icon{
    font-size: 19px;
    position: relative;
    top: 5px;
    right: 10px;
    color: #444;
}

.footer__icon:hover{
    cursor: pointer;
}

@media (max-width: 768px){
    .footer{
        height: 100%;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .footer__div {
        padding-bottom: 30px;
        margin-left: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #ccc;
        width: 85%;
    }

    
    .footer__bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
       
    }

    .footer__icon__container{
        display: none;
    }
   
}